* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  margin: 10px 0;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signin-header {
  width: 100%;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}

.welcome {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0;
}

.signin-image-holder {
  width: 15rem;
  height: 15rem;
}

.signin-image {
  max-width: 100%;
  max-height: 100%;
}

.signin-label {
  padding: 10px 0;
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 10px;
}

.signin-select {
  text-align: center;
  height: 30px;
  border: 1px solid #2a9d8f;
  outline: none;
  border-radius: 10px;
  width: 100%;
  font-family: 'B612', sans-serif;
  cursor: pointer;
}

.signin-btn {
  margin-top: 10px;
  height: 30px;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  font-family: 'B612', sans-serif;
}

.signin-btn:disabled {
  background-color: #9ec7c2;
  cursor: not-allowed;
  font-weight: normal;
}

.tabs {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.tab-content {
  padding: 20px;
}

.tab-list {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  width: 50%;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  text-align: center;
  cursor: pointer;
}

.tab-list-active {
  color: #2a9d8f;
  background-color: lightgray;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgrey;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card-header {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  background-color: lightgrey;
  padding: 10px;
  font-weight: bold;
}

.card img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.card-img {
  display: flex;
  max-height: 100%;
  padding: 10px;
  border-right: 1px solid lightgrey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.card-content p {
  margin: 0;
}

.card-content-label {
  font-weight: bold;
}

.card-content-action {
  width: 100%;
  max-width: 100%;
}

.card-content-action button {
  width: 100%;
  background-color: #fff;
  outline: none;
  border: 1px solid #2a9d8f;
  padding: 5px;
  font-weight: bold;
  color: #2a9d8f;
  border-radius: 5px;
  cursor: pointer;
}

.card-content-action button:hover {
  background-color: #2a9d8f;
  color: white;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #264653;
  color: #fff;
  width: 100%;
}

.navbar-username {
  font-size: 1.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-username img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  margin: 0 5px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

.navbar-links li a:hover,
.navbar-links li a.active {
  background-color: #2a9d8f;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-links ul li {
    margin: 5px 0;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .question-details,
  .card {
    max-width: 90%;
    display: block;
  }
}

.question-details {
  margin-top: 20px;
}

.question-details .card ul {
  list-style: none;
}

.question-details .card ul li {
  padding: 5px;
}

.question-details .card ul li label {
  padding: 5px;
}

.your-answer {
  background-color: #e1f8f8;
  color: #31bea5;
  border: 1px solid #afc2c1;
  position: relative;
}

.other-answer {
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
}

.total-votes {
  color: #000000;
  font-weight: bold;
}

.pollresult-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  gap: 10px;
}

.progress-wrapper {
  width: 100%;
}

.progress-bar {
  background-color: #c8dcdc;
  height: 25px;
  border-radius: 5px;
}

.vote-badge {
  position: absolute;
  top: -10px;
  color: #fff;
  background-color: #e6b811;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  z-index: 999;
  padding-top: 3px;
  right: -20px;
}

.new-question-container {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  margin: 10px auto;
  position: relative;
}

.new-question-form p,
.new-question-form h3,
.new-question-form fieldset {
  padding: 0 10px;
  margin: 0 0 10px;
}

.new-question-form h2 {
  display: block;
  margin-bottom: 10px;
  background-color: #e2e2e2;
  text-align: center;
  padding: 10px 0;
}

.new-question-form fieldset {
  border: medium none !important;
  min-width: 100%;
  width: 100%;
}

.new-question-form input[type='text'] {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

.new-question-form button {
  cursor: pointer;
  width: 100%;
  border: 1px solid #45a898;
  border-radius: 5px;
  background: #31bea7;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
}
