* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  margin: 10px 0;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signInHeader {
  width: 100%;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}

.welcome {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0;
}

.signInImageHolder {
  width: 15rem;
  height: 15rem;
}

.signInImage {
  max-width: 100%;
  max-height: 100%;
}

.signInLabel {
  padding: 10px 0;
}

.signInForm {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 10px;
}

.signInSelect {
  text-align: center;
  height: 30px;
  border: 1px solid #2a9d8f;
  outline: none;
  border-radius: 10px;
  width: 100%;
  font-family: 'B612', sans-serif;
}

.signInBtn {
  margin-top: 10px;
  height: 30px;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  font-family: 'B612', sans-serif;
}

.signInBtn:disabled {
  background-color: #9ec7c2;
  cursor: not-allowed;
  font-weight: normal;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
